#chat-window, #user-message {
    color: #020009;
    background-color: #e9f4f3;
    border-radius: 0.25em;
}

#chat-window {
    border: 1px solid grey;
    width: 30vw;
    height: 40vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

#chat-ui {
    margin: 0 auto;
    width: min-content;
}

#input-area {
    display: grid;
    width: 100%;
    grid-template-columns: 80% auto;
    grid-gap: 0.5em;
    margin-top: 0.5em;
}

#user-message {
    word-break: break-all;
    min-height: 24px;
    padding: 0.05em 0.5em;
}

.message-bubble {
    width: 90%;
    border: 1px solid #020009;
    border-radius: 4px;
    padding: 0.25em;
    word-break: break-all;
    color: #020009;
}

#input-area button {
    height: fit-content;
    align-self: center;
}